.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://images.saymedia-content.com/.image/t_share/MTkyOTkyMzE2OTQ3MjQ0MjUz/website-background-templates.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-container, .register-container {
  background-image:url(https://png.pngtree.com/thumb_back/fh260/background/20211102/pngtree-plain-aesthetic-background-with-cool-wallpaper-image_914477.png);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

input {
  display: block;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

span {
  color: #007bff;
  cursor: pointer;
}

span:hover {
  text-decoration: underline;
}
