/* src/Components/About/About.css */
.about-container {
    padding: 50px;
    text-align: left;
    background-color: #f0e7cf;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url("D:\App_Fable\App_Fable\book\public\Books\9330285.jpg"); /* Replace with your image path */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    animation: zoomInBackground 15s infinite;
}

.about-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #f70a0a;
}

.about-container p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
}

@keyframes zoomInBackground {
    0% {
        background-size: 100% 100%;
    }
    50% {
        background-size: 110% 110%;
    }
    100% {
        background-size: 100% 100%;
    }
}
