.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("D:/li/book/public/images/border-from-confetti-pinwheels.jpg");
    background-size: cover;
    background-position: center;
    animation: zoomIn 20s infinite alternate;
}

.login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #013e7a;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #7992ab;
}

.login-form p {
    margin-top: 15px;
    color: #333;
}

.login-form a {
    color: #003366;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

.admin-checkbox {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 15px;
    color: #333;
}

.admin-checkbox input {
    margin-right: 5px;
}
