@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("D:/li/book/public/images/border-from-confetti-pinwheels.jpg");
    background-size: cover;
    background-position: center;
    animation: zoomIn 20s infinite alternate;
}

.signup-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.signup-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #003366;
}

.signup-form label {
    display: block;
    margin-bottom: 10px;
}

.signup-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.signup-form button:hover {
    background-color: #7992ab;
}

.signup-form p {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #0e0e0e;
}

.signup-form a {
    color: #003366;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}
