/* src/Components/CategoryBooks/CategoryBook.css */

.category-books-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.category-book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth zoom effect */
}

.category-book-item:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

.category-book-image {
    width: 250px; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
    border-radius: 10px;
    margin-bottom: 10px;
}

.category-book-title {
    font-size: 16px;
    text-align: center;
    color: #333;
}
